<div class="video-list-container">
  <div class="search-bar">
    <input
      type="text"
      [formControl]="searchControl"
      placeholder="Buscar videos por título o canal..."
    />
  </div>

  @if (videos$ | async; as videos) {
    
    <div class="video-grid">
      @for (video of videos; track video.id) {
        <app-video-card
          [video]="video"
          (onToggleFavorite)="handleToggleFavorite($event)"
        ></app-video-card>
      }
    </div>

  } @else {
    <p>Cargando videos...</p>
  }
</div>